<div class="card">
    <div class="card-boy" style="background-color: hsl(0, 0%, 94%);">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cum rerum maiores culpa ab nam dolorem at dolor, sint quis quo est dolores earum ipsam, eius doloribus quod officiis sapiente libero eveniet, saepe laboriosam quos vero modi! Laudantium, accusantium unde.

        </p>
    </div>
</div>